@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  overflow-x: hidden;
  position: relative;
}

body p {
  margin: 0;
}

body a {
  text-decoration: none;
}

body .btn {
  font-size: 1.5rem;
}

body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

body h5 {
  font-size: 1.8rem !important;
}

body .custom-z-index {
  z-index: 999;
}

body .py-50 {
  padding: 50px 0;
}

body #top-bar-2 ul li {
  border-left: 2px solid white;
  padding: 0 30px;
}

body #top-bar-2 ul li a {
  text-decoration: none;
}

body .navbar span {
  font-size: 3.6rem;
  font-weight: bold;
}

body .navbar ul li a {
  color: black;
}

body .navbar ul li a:hover {
  color: #ffc107;
}

body .navbar input {
  font-size: 1.5rem;
}

body .navbar .form-border {
  border: 0.5px solid grey;
  padding: 5px;
}

body .navbar ul.dropdown-menu li a {
  font-size: 1.5rem;
}

body .navbar .basket-number {
  height: 25px;
  width: 25px;
  font-size: 1rem;
  top: -5px;
  right: -15px;
}

body .slider {
  background: #fff3d5;
}

body .slider h2 {
  font-size: 4.8rem;
  font-weight: 900;
}

body .slider .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  background-size: 20px 20px;
  background-color: yellow;
  padding: 30px;
  border-radius: 50%;
}

body .slider .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  background-size: 20px 20px;
  background-color: yellow;
  padding: 30px;
  border-radius: 50%;
}

body .slider .bottom-fix-bar {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .price-text {
  font-size: 2rem;
  font-weight: 700;
}

body .lp-img-container {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .lp-img-container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: grey;
  opacity: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .lp-img-container:hover::after {
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .lp-img-container:hover .product-hover-overlay {
  top: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

body .lp-img-container:hover i {
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ani {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .lp-img-container .product-hover-overlay {
  background: #ffc107;
  width: 20%;
  height: 100%;
  top: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .lp-img-container i {
  background: #000;
  padding: 12px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

body .lp-img-container i:hover {
  background: #ffc107;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #fff;
}

body .lp-img-container a {
  text-decoration: none;
}

body .owl-carousel .owl-nav,
body .owl-carousel button.owl-dot {
  color: #ffc107;
  text-align: center;
  font-size: 3.6rem;
}

body .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 30%;
  right: -2%;
}

body .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 30%;
  left: -2%;
}

body #featuredcategory .overlay-featured-category {
  height: 325px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #featuredcategory .overlay-featured-category img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #featuredcategory .overlay-featured-category h6 {
  position: absolute;
  top: 10%;
  color: white;
  font-size: 2.4rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #featuredcategory .overlay-featured-category:after {
  content: "";
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(10deg);
          transform: translate(-50%, -50%) rotateX(10deg);
  background: #000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  margin: 2px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body #featuredcategory .overlay-featured-category .f-cat-name {
  z-index: 999;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ffc107;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
}

body #featuredcategory .overlay-featured-category:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #featuredcategory .overlay-featured-category:hover img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #featuredcategory .overlay-featured-category:hover h6 {
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  top: 45%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body #featuredcategory .overlay-featured-category:hover .f-cat-name {
  display: none;
}

body #featuredcategory .overlay-featured-category:hover::after {
  opacity: 0.3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(-50%, -50%) rotateX(180deg);
          transform: translate(-50%, -50%) rotateX(180deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body .end-button {
  position: relative;
  text-align: center;
}

body .end-button:after, body .end-button:before {
  content: "";
  position: absolute;
  width: 100%;
  background: gray;
  left: 0;
  z-index: -1;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .end-button button {
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .end-button button:hover {
  background: #ffc107;
  color: white !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #latestnews .news-image .date-box {
  width: 70px;
  height: 70px;
  font-weight: 700;
  top: -10px;
  left: 5%;
}

body #latestnews .news-image .date-box .triangle-left {
  height: 0;
  width: 0;
  border-right: 5px solid #169EB1;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #169EB1;
  border-top: 5px solid transparent;
  top: 0;
  position: absolute;
  left: -10px;
}

body #latestnews .news-image .date-box .triangle-right {
  height: 0;
  width: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid #169EB1;
  border-bottom: 5px solid #169EB1;
  border-top: 5px solid transparent;
  top: 0;
  position: absolute;
  right: -10px;
}

body #latestnews .news-text {
  gap: 20px;
}

body #latestnews .news-text p {
  font-weight: 500;
}

body #latestnews .news-text h4 {
  font-size: 1.8rem;
}

body #latestnews .news-text a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffc107;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #latestnews .news-text a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

body #testimonials .owl-test img {
  width: 15%;
}

body #testimonials .owl-test .owl-flex-con {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  background: white;
  -webkit-filter: drop-shadow(0px 0px 10px #c2c2c2);
          filter: drop-shadow(0px 0px 10px #c2c2c2);
  border: 2px solid white;
}

body #testimonials .owl-dots {
  text-align: center;
  margin: auto;
  width: 50%;
}

body #testimonials .owl-dots .owl-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px 30px 5px;
  border-radius: 50%;
  background-color: grey;
}

body #testimonials .owl-dots .active {
  background-color: #ffc107;
}

body #subscribe {
  background-image: url("https://www.ovationthemes.com/demos/shopkeeper-ecommerce/wp-content/themes/shopkeeper-ecommerce-pro/assets/images/subscribe-bg.png");
}

body #subscribe form input {
  border: none;
  padding: 8px;
}

body #subscribe form input:last-child {
  background: #ffc107;
  border: none;
}

body #shopbybrand .ds {
  -webkit-filter: drop-shadow(0 0 5px #e6e6e6);
          filter: drop-shadow(0 0 5px #e6e6e6);
}

body footer h3 {
  font-size: 2.4rem;
  border-left: 0.5rem solid #ffc107;
  padding-left: 1rem;
  margin-bottom: 15px;
}

body footer .bg-dy {
  background: #FFF3D5;
}

body footer a {
  color: black;
}
/*# sourceMappingURL=style.css.map */