@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;   
  p{
    margin: 0;
  }

  .btn{
      font-size: 1.5rem;
  }

  ul{
      padding: 0;
      margin: 0;
      list-style: none;
  }

  #top-bar-2{
      ul{
          li{
            border-left: 2px solid white;
            padding: 0 30px;
            a{
                text-decoration: none;
            }
          }
      }
  }

  .navbar {
      span{
          font-size: 3.6rem;
          font-weight: bold;
      }

      ul{
          li{
              a{
                  color: black;

                  &:hover{
                      color: #FFC107;
                  }
              }
          }
      }

      input{
          font-size: 1.5rem;
      }

      .form-border{
          border: 0.5px solid grey;
          padding: 5px;
      }

      ul.dropdown-menu li a{
          font-size: 1.5rem;
      }

      .basket-number{
          height: 25px;
          width:25px;
          font-size: 1rem;
          top: -5px;
          right: -15px;
      }
  }

  .slider{
      background: #FFF3D5;

      h2{
          font-size: 4.8rem;
          font-weight: 900;
      }
      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        background-size: 20px 20px;
        background-color: yellow;
        padding: 30px;
        border-radius: 50%;
       }
       
       .carousel-control-next-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
         background-size: 20px 20px;
         background-color: yellow;
         padding: 30px;
         border-radius: 50%;
       }

       .bottom-fix-bar{
           left: 50%;
           transform: translateX(-50%);
       }

   
}

} //end of body
