@import "reset";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");

$warning: #ffc107;

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  overflow-x: hidden;
  position: relative;

 
  
  p {
    margin: 0;
  }
  
  a{
    text-decoration: none;
  }

  .btn {
    font-size: 1.5rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }

  h5 {
    font-size: 1.8rem !important;
  }

  .custom-z-index {
    z-index: 999;
  }

  .py-50 {
    padding: 50px 0;
  }

  #top-bar-2 {
    ul {
      li {
        border-left: 2px solid white;
        padding: 0 30px;
        a {
          text-decoration: none;
        }
      }
    }
  }

  .navbar {

    span {
      font-size: 3.6rem;
      font-weight: bold;
    }

    ul {
      li {
        a {
          color: black;

          &:hover {
            color: #ffc107;
          }
        }
      }
    }

    input {
      font-size: 1.5rem;
    }

    .form-border {
      border: 0.5px solid grey;
      padding: 5px;
    }

    ul.dropdown-menu li a {
      font-size: 1.5rem;
    }

    .basket-number {
      height: 25px;
      width: 25px;
      font-size: 1rem;
      top: -5px;
      right: -15px;
    }
  }

  .slider {
    background: #fff3d5;

    h2 {
      font-size: 4.8rem;
      font-weight: 900;
    }
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
      background-size: 20px 20px;
      background-color: yellow;
      padding: 30px;
      border-radius: 50%;
    }

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
      background-size: 20px 20px;
      background-color: yellow;
      padding: 30px;
      border-radius: 50%;
    }

    .bottom-fix-bar {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .price-text {
    font-size: 2rem;
    font-weight: 700;
  }

  .lp-img-container {
    position: relative;
    transition: 0.3s;
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: grey;
      opacity: 0;
      right: 0;
      top: 0;
      transition: 0.3s;
    }

    &:hover {
      &::after {
        opacity: 0.3;
        transition: 0.3s;
      }

      .product-hover-overlay {
        top: 0%;
        transition: 0.3s;
        z-index: 999;
      }

      i {
        animation-name: ani;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
        transform: scale(0);
        animation-fill-mode: forwards;
        display: block;
      }

      @keyframes ani {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .product-hover-overlay {
      background: $warning;
      width: 20%;
      height: 100%;
      top: -100%;
      transition: 0.3s;
    }

    i {
      background: #000;
      padding: 12px;
      border-radius: 50%;
      color: #fff;
      transition: 0.3s;
      display: none;

      &:hover {
        background: $warning;
        transition: 0.3s;
        border: 2px solid #fff;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .owl-carousel .owl-nav,
  .owl-carousel button.owl-dot {
    color: $warning;

    text-align: center;
    font-size: 3.6rem;
  }

  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 30%;
    right: -2%;
  }

  .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 30%;
    left: -2%;
  }

  #featuredcategory {

    .overlay-featured-category {
      height: 325px;
      overflow: hidden;
      position: relative;
      transition: 0.3s;

      img {
        transition: 0.3s;
        height: 100%;
        object-fit: cover;
    }

      h6 {
        position: absolute;
        top: 10%;
        color: white;
        font-size: 2.4rem;
        text-transform: uppercase;
        opacity: 0;
        transition-delay: 0.3s;
        transition: 0.3s;
      }

      &:after {
        content: "";
        height: 90%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
         transform: translate(-50%, -50%) rotateX(10deg);
        background: #000;
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0.2s;
        margin: 2px;
        perspective: 1000px;
      }

      .f-cat-name {
        z-index: 999;
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: $warning;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
      }

      &:hover {
        transition: 0.3s;
        img {
          transition: 0.3s;
          transform: scale(1.2);
        }

        h6 {
          z-index: 9999;
          transition: 0.3s;
          opacity: 1;
          top: 45%;
          transition-delay: 0.3s;
        }

        .f-cat-name {
          display: none;
        }

        &::after {
          opacity: 0.3;
          transition: 0.6s;
          transform: translate(-50%, -50%) rotateX(180deg);
          transition-delay: 0.2s;
        }
      }
    }
  } //fcat

.end-button {
  position: relative;

text-align: center;
  &:after, &:before{
      content: "";
      position: absolute;
      width: 100%;
      background: gray;
      left: 0;
      z-index: -1;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
  }

  button{
      border: none;
      transition: 0.3s;
  &:hover{
      background: $warning;
      color: white !important;
      transition: 0.3s;
  }
}
} 

#latestnews{
  .news-image{
   .date-box{
     width: 70px;
     height: 70px;
     font-weight: 700;
     top: -10px;
     left: 5%;

     .triangle-left{
       height: 0;
       width: 0;
       border-right: 5px solid #169EB1;
       border-left: 5px solid transparent;
       border-bottom: 5px solid #169EB1;
       border-top: 5px solid transparent;
       top: 0;
       position: absolute;
       left: -10px; 
     }

     .triangle-right{
      height: 0;
      width: 0;
      border-right: 5px solid transparent;
      border-left: 5px solid #169EB1;
      border-bottom: 5px solid #169EB1;
      border-top: 5px solid transparent;
      top: 0;
      position: absolute;
      right: -10px; 
    }
   }
  }
  .news-text{
    gap: 20px;
    p{
      font-weight: 500;
    }
    h4{
      font-size: 1.8rem;
    }
    a{
      text-decoration: none;
      text-transform: uppercase;
      color: $warning;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        color: black;
      }
    }
  }
} 

#testimonials{
  .owl-test{
  
    img{
      width: 15%;
    }

    .owl-flex-con{
      // gap: 10px;
      width: 50%;
      // left: 50%;
      // transform: translateX(50%);
      display: inline-block;
      margin: 0 auto;
      background: white;
      filter: drop-shadow(0px 0px 10px rgb(194, 194, 194));
      // box-shadow: 0 0 5px 5px red;
      border: 2px solid white;
    }
  }

  .owl-dots{
text-align: center;
margin: auto;
width: 50%;

    .owl-dot{
      height: 15px;
      width: 15px;
      margin: 0 5px 30px 5px;
      border-radius: 50%;
      background-color: grey;
    }

    .active{
      background-color: $warning;
    }
  }
}

#subscribe{
  background-image: url('https://www.ovationthemes.com/demos/shopkeeper-ecommerce/wp-content/themes/shopkeeper-ecommerce-pro/assets/images/subscribe-bg.png');

  form{
    input{
      border: none;
      padding: 8px;
    
      &:last-child{
        background: $warning;
        border: none;
      }
    
    }
  }
}

#shopbybrand{
  .ds{
    filter: drop-shadow(0 0 5px rgb(230, 230, 230));
  }
}

footer{
  h3{
    font-size: 2.4rem;
    border-left: 0.5rem solid $warning;
    padding-left: 1rem;
    margin-bottom: 15px;
  }

  .bg-dy{
    background: #FFF3D5;
  }

  a{
    color: black;
  }


}

} //body